@attribute [TestClass]
@inherits BunitTestContext
@using BlazorSample.Pages;

@code {
    
	[TestMethod]
	public void CalculatorRendorTest()
	{
		var cut = Render(@<Calculator />);

		cut.Find("h1").MarkupMatches(@<h1>Calculator</h1>);
	}

	[TestMethod]
	public void CalculatorAddTests()
	{
		// Arrange
		var cut = Render(@<Calculator />);

		cut.Find("button").Click();

		cut.Find("document.output").Matches("7");

		// Assert that content of the paragraph shows counter at zero
		//cut.Find("p").MarkupMatches(@<p>Current count: 0</p>);
	}

    [TestMethod]
	public void CalculatorSubtractTests()
	{
		// Arrange
		var cut = Render(@<Calculator />);

		// Act - click button to increment counter
		cut.Find("button").Click();

		// Assert that the counter was incremented
		//cut.Find("p").MarkupMatches(@<p>Current count: 1</p>);
	}
}
